main, header, section {
  display: flex;
}

main {
  flex-direction: column;
}

section {
  flex-direction: column;
  margin: 10px;
}

.textarea {
  border: 1px solid black;
  display: block;
  width: 100%;
  min-height: 200px;
  text-decoration: none;
}
