<main>

  <header>
    <h1>Text editor</h1>
  </header>

  <section>

    <div
      [contentEditable]="editable"
      class="textarea"
      (mouseup)="endSelecting()"
      (blur)="unselectText()"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nibh ut lorem cursus aliquet. Ut in dignissim massa. Donec porttitor finibus libero, vestibulum finibus nulla mollis at. Vestibulum feugiat semper leo. Vestibulum eget enim vitae velit tempor viverra. Duis vel mi non diam tempus consectetur. Integer elementum, lorem aliquet accumsan hendrerit, erat nisl ultrices nibh, eu placerat odio lectus eget sapien. Integer sodales leo nisl, vitae sollicitudin purus facilisis sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sed tellus ut dui facilisis interdum eget nec tellus. Maecenas id luctus quam. In rhoncus quam in ex mollis pretium.

      Sed ullamcorper velit at sapien auctor, ut volutpat tellus aliquet. Pellentesque iaculis consequat enim in porta. Morbi sagittis justo ac erat condimentum, ac ultrices lorem elementum. Mauris at purus bibendum, porttitor nibh convallis, accumsan sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse a lobortis enim. Nulla condimentum id felis id semper. Mauris bibendum nisi id ex hendrerit aliquam.

      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus congue odio vel massa luctus aliquam. Donec tempor felis eu lacus aliquet hendrerit. Suspendisse potenti. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut efficitur sem in fringilla vestibulum. Proin dignissim interdum sem, mattis aliquam velit pharetra nec.

      Donec eget odio purus. Aliquam erat volutpat. Sed ut enim arcu. Quisque vestibulum, ante et blandit convallis, lorem elit egestas risus, vel rutrum enim nisl et nisi. Nam tristique orci turpis, sit amet rutrum erat faucibus interdum. Nunc quis quam justo. Mauris fermentum gravida est, ut euismod sapien scelerisque sed. Fusce et euismod massa. Ut mi ipsum, suscipit vitae convallis id, finibus eget risus.

      Integer feugiat eget justo non tincidunt. Sed at lacinia odio. Proin rhoncus at dui malesuada tristique. Aliquam erat volutpat. Nullam sed dolor ligula. Aliquam ligula eros, tempus non tortor ut, viverra tempus massa. Etiam rhoncus tellus massa, quis vestibulum est bibendum ut. Aenean laoreet quis enim in accumsan.
    </div>

  </section>
</main>
